################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/DotNet/.vs/ChloeSite/v15
/src/DotNet/.vs/config
/src/DotNet/Ace/bin/Debug
/src/DotNet/Ace/obj
*.user
/src/DotNet/Ace.Web/bin/Debug
/src/DotNet/Ace.Web/obj/Debug
/src/DotNet/Ace.Web/obj/Release
/src/DotNet/Ace.Web.Mvc/bin/Debug
/src/DotNet/Chloe.Admin/bin
/src/DotNet/Chloe.Admin/obj/Debug
/src/DotNet/Chloe.Admin/obj/Release
/src/DotNet/Chloe.Application/obj
/src/DotNet/Chloe.Application/bin/Debug
/src/DotNet/Chloe.Data/obj
/src/DotNet/Chloe.Data/bin/Debug
/src/DotNet/Chloe.Entities/obj
/src/DotNet/Chloe.Entities/bin/Debug
*.suo
/src/DotNet/Chloe.Home/obj
/src/DotNet/Chloe.Home/bin
/src/DotNetCore/.vs
/src/DotNetCore/Ace/obj
/src/DotNetCore/Ace/bin
/src/DotNetCore/Ace.Application/obj
/src/DotNetCore/Ace.Application/bin
/src/DotNetCore/Ace.Application.System/obj
/src/DotNetCore/Ace.Application.System/bin
/src/DotNetCore/Ace.Application.Wiki/obj
/src/DotNetCore/Ace.Application.Wiki/bin
/src/DotNetCore/Ace.AutoMapper/obj
/src/DotNetCore/Ace.AutoMapper/bin
/src/DotNetCore/Ace.Data/obj
/src/DotNetCore/Ace.Data/bin
/src/DotNetCore/Ace.Entity/obj
/src/DotNetCore/Ace.Entity/bin
/src/DotNetCore/Ace.Web/obj
/src/DotNetCore/Ace.Web/bin
/src/DotNetCore/Ace.Entity.Wiki/obj
/src/DotNetCore/Ace.Entity.Wiki/bin
/src/DotNetCore/Ace.Web.Mvc/obj
/src/DotNetCore/Ace.Web.Mvc/bin
/src/DotNetCore/Chloe.Admin/Properties/PublishProfiles
/src/DotNetCore/Chloe.Admin/weblog
/src/DotNetCore/Chloe.Admin/obj
/src/DotNetCore/Chloe.Admin/bin
/src/DotNetCore/Chloe.Home/Properties/PublishProfiles
/src/DotNetCore/Chloe.Home/weblog
/src/DotNetCore/Chloe.Home/obj
/src/DotNetCore/Chloe.Home/bin
/src/DotNetCore/DotNetEx/obj
/src/DotNetCore/DotNetEx/bin
/src/DotNet/Ace.Web.Mvc/obj
