
/* header */
.header {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    /* Navigations
                ----------------------------------------------------------------------------- */
    .header .navbar {
        margin-bottom: 0;
    }

.main-navigation .navbar-default {
    background-color: transparent;
    border: none;
}

    .main-navigation .navbar-default .navbar-nav > li > a {
        color: #fff;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 300;
    }

    .main-navigation .navbar-default .navbar-nav > li.active > a {
        background-color: transparent;
        color: #55acee;
    }

        .main-navigation .navbar-default .navbar-nav > li > a:hover,
        .main-navigation .navbar-default .navbar-nav > li.active > a:hover {
            color: #55acee;
        }

@media (min-width:768px) {
    .main-navigation .navbar-default .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .main-navigation .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-nav {
        float: left !important;
    }
}

@media (max-width:767px) {
    .header.navbar-fixed-top {
        position: absolute;
    }
}

/* Fixed Header
                ----------------------------------------------------------------------------- */
.fixed-header-on .header {
    background-color: rgba(0, 0, 0, 0.95);
    padding: 5px 0;
}

.fixed-header-on .site-name {
    font-size: 24px;
}

.fixed-header-on .logo {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width:768px) {
    .fixed-header-on .navbar-default .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width:991px) {
    .fixed-header-on .logo,
    .fixed-header-on .site-name,
    .fixed-header-on .site-slogan {
        display: none;
    }
}

/* Logo, Site Name, Site Slogan  */
.logo {
    margin: 10px 10px 10px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.logo,
.site-name-and-slogan {
    float: left;
}

.site-name {
    font-size: 36px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 10px 10px 10px 0;
}

    .site-name a {
        color: #ffffff;
    }

        .site-name a:hover {
            text-decoration: none;
        }

.site-slogan {
    font-size: 12px;
}
/* header end */


/* footer */
footer {
    background-color: rgba(0, 0, 0, 0.15);
    padding-top: 20px;
    padding-bottom: 10px;
}

    footer .copyright-text {
        margin: 0;
        margin-top: 20px;
    }

    footer a {
        color: #fff;
    }

        footer a:hover {
            color: #FF6;
        }
/* footer end */
