@{
    ViewBag.Title = "服务器内部错误~";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div style="margin:auto;width:400px;margin-top:200px;min-height:650px;">
    <img src="@Url.Content("~/Content/images/error.gif")" /><span style="font-family:'Microsoft YaHei'"> sorry，我内脏坏了555~</span>
</div>
