@{
    ViewBag.Title = "亲，别迷路了哦~";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div style="margin:auto;width:400px;margin-top:200px;min-height:650px;">
    <img src="@Url.Content("~/Content/images/zero.jpg")" /><span style="font-family:'Microsoft YaHei'"> 亲，别迷路了哦~</span>
</div>
