<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="/Content/jquery/jquery-1.11.1.min.js"></script>

    <link href="/Content/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/Content/jquery-ui/jquery-ui.min.js"></script>

    <link href="/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/Content/bootstrap/bootstrap.min.js"></script>

    <link href="/Content/font-awesome/font-awesome.min.css" rel="stylesheet" />

    <link href="/Content/css/style.css" rel="stylesheet" />

    <script type="text/javascript" src="/Content/knockout/knockout-3.4.2.js"></script>
    <script type="text/javascript" src="/Content/knockout/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="/Content/js/kohelper.js"></script>
    <script type="text/javascript" src="/Content/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Content/My97DatePicker/WdatePicker.js"></script>

    <link href="/Content/layer/layer.css" rel="stylesheet" />
    <script type="text/javascript" src="/Content/layer/layer.js"></script>

    <script type="text/javascript" src="/Content/js/ace.js"></script>

    <script>
        $(function () {
            $(".modal-dialog").draggable({
                handle: ".modal-header"
            });
        });
    </script>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
